.footer{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.footer p{
  padding: 0 60px;
  color: #212121;
}

.footer a{
  padding: 0 60px;
  color: #212121;
  font-weight: bold;
}

@media (max-width: 768px) {
  .footer{
    flex-direction: column-reverse;

  }

  .footer p{
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
}