.page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: #fff;
}

.wrapper{
    max-width: 1200px;
}

.title{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 3px;

    color: #000000;

    margin-top: 42px;
}

.search{
    height: 30px;
    width: 90%;
    border: none;
    padding: 8px 10px;
    background: #F2F2F2;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    border-radius: 40px;

    margin: 24px 0;
}

.filters{
    display: flex;

}

.filters select{
    margin-right: 18px;
    border: none;

    background: #F2F2F2;
    box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.1);
    border-radius: 4px;
    width: 130px;
    text-align: center;

    font-weight: bold;
}

.pokemons{
    margin-top: 28px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokemons > * {
    margin-bottom: 45px;
}





@media (max-width: 768px) {
    .wrapper{
        max-width: 600px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pokemons > * {
        margin: auto;
        margin-bottom: 45px;

    }

    .search{
        height: 25px;
        width: 80%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1200px) {
  }